{% extends 'dnd/page.html' %}
{% block title %}Dice Roller - Penn's D&amp;D{% endblock %}
{% block head %}
	<script src='/files/js/dice.js'></script>
{% endblock %}
{% block content_class%}dice{% endblock %}
{% block content %}
	<h1>D&amp;D Dice<span class="hideable"> Roller</span></h1>
	<div id="main_box">
		<div id="text_mode_output">
			<div id="result_top">
				<b id="rolled">Dice</b>
			</div>
			<div id="result_bottom">
				<i id="result">Result</i>
			</div>
		</div>
		<div id="text_mode_input">
			<form id="input_form">
				<p>Enter Dice to Be Rolled</p>
				<input type="text" name="dice-text" id="text_input"/>
				<input type="submit" onClick="rollDice();return false;" style="display:none">
				<a id="submit_button" onclick="rollDice();return false;"> Roll </a>
			</form>
		</div>
	</div>
{% endblock %}
