{% extends 'dnd/page.html' %}
{% block title %}Statistics Generator - Penn's D&amp;D{% endblock %}
{% block head %}
	<script src='/files/js/stats.js'></script>
{% endblock %}
{% block content_class%}stats{% endblock %}
{% block content %}
	<h1>D&amp;D Statistics Generator</h1>
	<div id="generator_box">
		<div id="stat_box">
			<div id='stat1' class='stat'>X</div>
			<div id='stat2' class='stat'>X</div>
			<div id='stat3' class='stat'>X</div>
			<div id='stat4' class='stat'>X</div>
			<div id='stat5' class='stat'>X</div>
			<div id='stat6' class='stat'>X</div>
		</div>
		<div id="button_box">
			<div id='button_label'><p>Pick Generation Method</p></div>

			<div onclick='d20();return false;' class='type_button'> 1d20 </div>
			<div onclick='fourDice();return false;' id='d6_button' class='type_button'> Top 3 of 4d6 </div>
			<div onclick='standard();return false;' id='std_button' class='type_button'> Standard Set </div>
			<a href='/dnd/stats?s=point' id='point_button' class='type_button'> Point Buy </a>
			{#<div onclick='reset();return false;' id='point_button' class='type_button'> Reset </div>#}
		</div>
	</div>

{% endblock %}
