ErrorDocument 400 /files/errors/400.shtml
ErrorDocument 401 /files/errors/401.shtml
ErrorDocument 401 /files/errors/402.shtml
ErrorDocument 403 /files/errors/403.shtml
ErrorDocument 404 /files/errors/404.shtml
ErrorDocument 401 /files/errors/405.shtml
ErrorDocument 401 /files/errors/406.shtml
ErrorDocument 401 /files/errors/407.shtml
ErrorDocument 401 /files/errors/408.shtml
ErrorDocument 401 /files/errors/409.shtml
ErrorDocument 401 /files/errors/410.shtml
ErrorDocument 401 /files/errors/411.shtml
ErrorDocument 401 /files/errors/412.shtml
ErrorDocument 401 /files/errors/413.shtml
ErrorDocument 401 /files/errors/414.shtml
ErrorDocument 401 /files/errors/415.shtml
ErrorDocument 401 /files/errors/416.shtml
ErrorDocument 401 /files/errors/417.shtml
ErrorDocument 401 /files/errors/422.shtml
ErrorDocument 401 /files/errors/423.shtml
ErrorDocument 401 /files/errors/424.shtml
ErrorDocument 500 /files/errors/500.shtml
ErrorDocument 500 /files/errors/501.shtml
ErrorDocument 500 /files/errors/502.shtml
ErrorDocument 500 /files/errors/503.shtml
ErrorDocument 500 /files/errors/504.shtml
ErrorDocument 500 /files/errors/505.shtml
ErrorDocument 500 /files/errors/506.shtml
ErrorDocument 500 /files/errors/507.shtml
ErrorDocument 500 /files/errors/510.shtml

# Stop Indexing
Options -Indexes

# Hide .files
<FilesMatch "^\.">
    Require all denied
</FilesMatch>

include_path ".:${USER}/files/php/"
php_value auto_prepend_file std.php

<Files */.*>
	Deny from all
</Files>

#<Files */files/php/*>
    #Order Deny,Allow
    #Deny from all
    #Allow from 127.0.0.1
#</Files>

#<Files */files/php/index.php>
#    Order Allow,Deny
#    Allow from all
#</Files>

RewriteEngine On
RewriteBase /
DirectorySlash Off

# remove trailing slash
RewriteRule ^(.*)\/(\?.*)?$ $1$2 [R=301,L]

# rewrite /dir/file?query to /dir/file.php?query
RewriteRule ^([\w\/-]+)(\?.*)?$ $1.php$2 [L,T=application/x-httpd-php]
