.stats {
	#generator_box {
		outline:0.2rem solid $color-accent;
		width:90%;
		padding:1rem 5%;
	}
	.stat_box {
		border-bottom:0.2rem solid $color-accent;
		text-align:center;
	}
	#stat_box_points {
		display:none;
	}
	.stat {
		display:inline-block;
		position:relative;
		font-size:2rem;
		margin:0;
		text-align:center;
	}
	#button_box {
		#button_label {
			text-align:center;
			font-size:1.8rem;
		}

		.type_button {
			display:inline-block;
			height:1.8rem;
			font-size:1.2rem;
			margin:1rem 5%;
			text-align:center;
			background:$color-text;
			color:$color-back;
		}
		.type_button:hover {
			background:$color-high;
			color:$color-back;
		}
	}
	#d6_button, #point_button {
		float:right;
	}
	#points_display {
		width:100%;
		height:2.5rem;
		text-align:center;
		font-size:1.2rem;
	}
	select {
		background:$color-back;
		color:$color-text;
		height:1.8rem;
		font-size:1.2rem;
		border:none;
		outline:0.2rem $color-text solid;
	}
	.pstat {
		display:inline-block;
		height:5rem;
	}
	.pstat p {
		margin:0;
	}
	/* Height >= Width */
	@media (max-aspect-ratio: 1/1), (aspect-ratio: 1/1) {
		.stat_box {
			width:80%;
			padding:0 10%;

			.stat {
				height:6rem;
				padding:1rem 0 2rem;
				width:30%;
			}
			#stat2, #stat5 {
				float:center;
			}
			#stat3, #stat6 {
				float:right;
			}

			.pstat {
				display:inline-block;
				width:23%;
				margin:1rem 4% 1.5rem;
			}
		}
		#button_box {
			width:100%;

			.type_button {
				width:38%;
				padding:0.8rem 0;
				margin:1rem 5%;
			}
		}
	}
	/* Height < Width */
	@media (min-aspect-ratio: 1/1) {
		.stat_box {
			width:80%;
			padding:0 10% 2rem;

			.stat {
				height:6rem;
				padding:3rem 0;
				width:15.5%;
			}
			#stat6 {
				direction:rtl;
				float:right;
			}

			.pstat {
				width:11%;
				margin:1rem 2% 4rem;
			}
		}
		#button_box {
			width:100%;

			.type_button {
				width:28%;
				padding:1rem 0;
				margin:1.5rem 10%;
			}
		}
	}
}
