{% extends 'accounts/page.html' %}
{% block title %}Login{% endblock %}
{% block content %}
	<div class="form-wrapper">
		<h1>Login</h1>

		<form method="POST" action="{# url_for("accounts.login") #}">
			{{ form.csrf_token }}

			<b>{{ form.username.label }}</b> <br/>
			{{ form.username }}
			<br/><br/>

			<b>{{ form.password.label }}</b> <br/>
			{{ form.password }}
			<br/><br/>

			{% if error %}
				<h4 class='error'>{{ error}}</h4> <br/><br/>
			{% endif %}

			{{ form.submit }}
		</form>
	</div>
{% endblock %}
