<!DOCTYPE html><html>
	<head>
		<title>{% block title %}{% endblock %} - Penn Bauman</title>
		<meta charset='UTF-8'>
		<meta name='author' content='Penn Bauman'>
		<meta name='robots' content='noindex, nofollow'/>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<link rel='icon' href='/files/img/sys_favicon.png'>
		<link rel='stylesheet' href='/files/css/backend.css'>
		{% block head %}
		{% endblock %}
	</head>
	<body>
		<div id='content' class='centered'>
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>
