body {
	left:0; 
	top:0; 
	margin:0; 
	padding:0; 
	background:#ff99ff; 
	color:white; 
	font-size:2vh;
	font-family:Arial;
}
h1 {
	position:fixed;
	width:100%;
	text-align:center; 
	font-weight:bold; 
	font-size:6vh; 
	line-height:5vh; 
	top:0; 
	margin-top:5vh;
}
a {color:inherit; text-decoration:inherit;}
.dice {
	display:inline-block;
	outline:0.5vh solid red;
	text-align:center;
	font-size:4vh;
	line-height:4vh;
	background-color:white;
	color:red;
}
#button {
	display:inline-block;
	outline:0.5vh solid red;
	text-align:center;
	font-size:3vh;
	line-height:3vh;
	font-weight:bold;
	background-color:white;
	color:red;
}
#button:active {
	background:red;
	color:white;
}
#back {
    position:fixed;
    top:1vh;
    left:2vw;
    font-size:2vh;
}
#home {
    position:fixed;
    top:1vh;
    right:2vw;
    font-size:2vh;
}
.hl:hover { color:red; }
/*
.dice {
	margin-left:10vw;
	margin-top:10vw;
	width:19vw;
	height:11vw;
	padding:5vw;
	padding-top:13vw;
}
#right { margin-left:20vw; }
#button {
	width:18vw;
	height:3.5vh;
	margin-top:5vw;
	margin-left:40vw;
	padding-top:1.5vh;
}
*/

/* Height >= Width */
@media (max-aspect-ratio: 1/1), (aspect-ratio: 1/1) {
	.dice {
		margin: calc(45vh - 15vw) 9.6vw calc(20vh - 15vw);
		width:30vw;
		height:4vw;
		padding:13vw 0;
	}
	#button {
		margin:5vh 37vw;
		width:26vw;
		height:3vh;
		padding:3vh 0;
	}
}
/* Height < Width */
@media (min-aspect-ratio: 1/1) {
	.dice {

	}
}