{% extends 'test/page.html' %}
{% block title %}Color Tester{% endblock %}
{% block head %}
	<style type='text/css'>
		#content {
			position:fixed;
			top:0;
			left:0;
			width:85%;
			padding:2rem 7.5%;
		}
	</style>
	<script>
		function colorPage() {
			if (document.body.style.backgroundColor == "") {
				document.getElementById("content").style.backgroundColor = window.getComputedStyle(document.body).backgroundColor;
			}
			document.body.style.backgroundColor = document.getElementById("color_code").value;
			return false;
		}
	</script>
{% endblock %}
{% block content %}
	<h1>Color Tester</h1>
	<form action="#" onsubmit="colorPage();return false">
		Hex Color: <br/>
		<input autofocus id="color_code" type="text" name="color" value="#">
		<br/><br/>
		<input type="submit" value="Enter">
	</form>
{% endblock %}
