<!DOCTYPE html><html lang="en-US">
	<head>
		<title>{% block title%}Penn Bauman{% endblock %}</title>
		<link rel="icon" href="/files/img/favicon.png"/>
		<link rel="image_src" href="https://pennbauman.com/files/img/jellyboi_x512.png">
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<meta name="author" content="Penn Bauman"/>
		<meta name="robots" content="{% block robots %}index, follow{% endblock %}"/>

		<meta property="og:type" content="profile"/>
		<meta property="og:site_name" content="Penn Bauman"/>
		<meta property="og:image" content="https://pennbauman.com/files/img/jellyboi_x512.png"/>

		<meta name="twitter:card" content="summary"/>
		<meta name="twitter:site" content="@pennbauman"/>
		<meta name="twitter:creator" content="@pennbauman" />
		<meta name="twitter:image" content="https://pennbauman.com/files/img/jellyboi_x512.png"/>

		{% block head %}
		{% endblock %}
		{#
		<meta name="twitter:title" content="{% block title %}Penn Bauman{% endblock %}"/>
		<meta property="og:title" content="{% block title %}Penn Bauman{% endblock %}"/>

		<link rel="canonical" href="https://pennbauman.com"/>
		<meta property="og:url" content="https://pennbauman.com"/>
		<meta name="twitter:url" content="https://pennbauman.com"/>
		<meta name="twitter:description" content="Personal site for Penn Bauman, Student of Computer Science at the University of Virginia School of Engineering."/>

		<meta name="description" content="Personal site for Penn Bauman, Student of Computer Science at the University of Virginia School of Engineering."/>
		<meta property="og:description" content="Personal site for Penn Bauman, Student of Computer Science at the University of Virginia School of Engineering."/>

		<meta name="keywords" content="Penn Bauman, Penn Buaman, Pen Bauman, Pen Buaman, Penn Bauman UVA, Penn Bauman Arlington"/>
		#}
	</head>
	<body>
		{% block body %}
		{% endblock %}
	</body>
</html>
