{% extends 'basic.html' %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
	<link rel='stylesheet' href='/files/css/general.css'>

	<meta name="description" content="{{ description }}"/>
	<meta property="og:description" content="{{ description }}"/>
	<meta name="twitter:description" content="{{ description }}"/>
{% endblock %}
{% block body %}
	<div id='header'>
		<a href='/'><h1>Penn Bauman</h1></a>
		<div class='navlinks'>
			<a href='/about'>About</a>
			<a href='http://github.com/pennbauman'>GitHub</a>
			<a href='/resume'>Resume</a>
		</div>
	</div>
	<div id='content'>
		{% block content %}
		{% endblock %}
	</div>
	<div id='footer'>
		<p><a href='/site'>&copy; 2020 Penn Bauman</a></p>
	</div>
{% endblock %}
