{% extends 'page.html' %}

{% block title %}Site - Penn Bauman{% endblock %}
{% block description %}Site information for pennbauman.com{% endblock %}

{% block robots %}noindex,nofollow{% endblock %}
{% block content %}
	<h1>Site Information</h1>
	<p>This site is owned and operated by Penn Bauman. All code and pages are available on <a href="http://github.com/pennbauman/pennbauman.com">github</a> under the <a href="/LICENSE.txt">GNU General Public License v3</a>.</p>

	<h3>Contact</h3>
	<p>Penn Bauman can be contacted at <a href="me@pennbauman.com">me@pennbauman.com</a>.</p>

	<h3>Photo Credit</h3>
	<p>The <a href="/files/img/background.jpg">background photograph</a> was taken by Sam Goodkind. All other images were taken or created by Penn Bauman.</p>
{% endblock %}
