// _conditional.scss
@media (max-aspect-ratio: 1/1) { /* Height > Width */
	#dnd-navbar {
		.navbar_link {
			padding:0.5em 0em 0.5em;
			margin:0;
		}
	}
}
@media (min-aspect-ratio: 1/1) { /* Height < Width */

}
@media (max-aspect-ratio: 10/9) {
	#dnd-header { font-size:1.35vw; }
}
@media (max-aspect-ratio: 100/130) {
	#dnd-navbar { font-size:1.5625vw; }
}
