$back:#EEEEEE;
$plain:#141A1B;
$hl:#2EB398;

.dice {
	#main_box {
		display:block;
		width:90%;
		outline:0.2rem solid $color-accent;
		text-align:center;
	}
	#text_mode_output {
		display:block;

		#result_top {
			display:block;
			width:100%;
			height:3rem;
			padding:2rem 0 0;

			b {
				display:inline-block;
				width:16rem;
				margin:0 calc(50% - 8rem);
				padding:0 0 0.4rem;
				border-bottom:0.2rem solid $color-text;
				font-size:1.8rem;
			}
		}

		#result_bottom {
			display:inline-block;
			width:100%;
			height:5rem;
			padding:1rem 0 0;

			i {
				font-size:2.4rem;
			}
		}
	}
	#text_mode_input {
		p {
			font-size:1.2rem;
			margin-bottom:1rem;
		}

		#text_input {
			display:block;
			height:2rem;
			width:16rem;
			margin:auto;
			margin-bottom:2rem;

			text-align:center;
			font-size:1.5rem;
			background-color:$color-back;
			color:$color-text;
		}
		#submit_button {
			display:block;
			height:1.8rem;
			width:12rem;
			padding:1rem 0;
			margin:1rem auto;

			font-size:1.2rem;
			text-align:center;
			background:$color-text;
			color:$color-back;
		}
		#submit_button:hover {
			background:$color-high;
			color:$color-back;
		}
	}
	/* Height >= Width */
	@media (max-aspect-ratio: 1/1), (aspect-ratio: 1/1) {
		.hideable {
			display:none;
		}
		#main_box {
			padding:0 5% 2rem;
		}
		#text_mode_output {
			width:100%;
		}
		#text_mode_input {
			padding-top:1rem;
			display:block;
			width:100%;
			height:12rem;
		}
	}
	/* Height < Width */
	@media (min-aspect-ratio: 1/1) {
		#main_box {
			padding:3rem 5%;
		}
		#text_mode_output {
			width:50%;
			float:right;
		}
		#text_mode_input {
			display:inline-block;
			width:50%;
			height:12rem;
		}
	}
}
