/* D&D Header */
.dnd-header {
	grid-area:header;
	font-size:1.5vh;
	width:100%;
	top:0;
	left:0;
	margin-bottom:1rem;
	background:$header-back;
	color:$header-plain;
	text-align:center;
	height:8em;
	z-index:4;

	#header_title {
		position:relative;
		display:inline-block;
		height:4em;
		width:8em;
		top:0;
		padding:2em 1em;
		top:-1.8em;

		.header_text1 {
			font-size:1.5em; 
			line-height:1em;
		}

		.header_text2 {
			font-size:4em;  
			line-height:1em;
		}
	}

	.header_img {
		position:relative;
		display:inline-block;
		height:6em;
		width:6em;
		padding:1em 2em;
	}
}
/* D&D Navbar */
.dnd-navbar {
	grid-area:navbar;
	font-size:1.2vh;
	position:-webkit-sticky;
	position:sticky;
	display:block;
	height:4em;
	width:100%;
	padding:0;
	margin:0;
	left:0;
	top:0;
	margin-top:-1rem;
	border-top:1rem solid $header-back;
	text-align:center;
	background:$header-back;
	color:$header-plain;
	z-index:5;

	.navbar_link {
		display:inline-block;
		position:relative;
		top:0;
		line-height:2.5em;
		height:3em;
		padding:0.5em 1em 0.5em;
		width:15em;
		
		margin:0 1em;
		left:0;
		text-align:center;

		&:hover {
			//background:$header-plain;
			color:$header-hl;
		}
	}

	.navbar_text {
		font-size:2.5em;
	}
}
