// DnD Site CSS

// Colors
$color-back:#000000;
$color-text:#eeeeee;
$color-high:#2eb398;
$color-accent:#575b61;

/* Prevent Firefox selected button/link outline */
:focus {outline:none;}
::-moz-focus-inner {border:0;}
/* Prevent iOS input styling */
input.text, input[type="text"], input[type="button"], input[type="submit"], .input-checkbox {
	-webkit-appearance: none;
	border-radius: 0;
}

body {
	margin:0;
	padding:0;
	//font-family:'Times New Roman', Times, serif;
	font-family:DejaVu_Sans_Mono, Courier, Monospace;
	min-height:100vh;

	background-color:$color-back;
	color:$color-text;
	font-size:1.1rem;

	display:grid;
	grid-template-areas:
		"header"
		"navbar"
		"content"
		"footer";
	grid-gap:0;
	grid-template-columns:100%;
	grid-template-rows:min-content min-content auto min-content;
}
body::-webkit-scrollbar {
	display: none;
}
a { color:inherit; text-decoration:none; }

#header {
	grid-area:header;
	display:inline-block;
	position:relative;
	padding:0;

	text-align:center;

	font-size:1.6rem;


	h1 {
		margin:0;
		color:$color-high;
	}
}
#navbar {
	grid-area:navbar;
	display:inline-block;
	position:relative;
	//width:80%;
	//margin:0 10%;
	width:100%;

	border-top:$color-accent 0.2rem solid;
	border-bottom:$color-accent 0.2rem solid;
	//background-color:$color-accent;

	text-align:center;

	a {
		display:inline-block;
		//width:6rem;
		//max-width:calc(22%);
		padding:0.2rem 1rem 0.2rem;
	}
	a:hover {
		color:$color-high;
	}
}
#content {
	grid-area:content;
	display:inline-block;
	position:relative;
	width:80%;
	padding:1rem 10%;

	h1 {
		font-size:2.4rem;
		text-align:center;
	}
	h2 {
		margin-bottom:0;
		border-bottom:$color-accent 0.2rem solid;

		font-size:2rem;
		color:$color-high;
	}
	h3 {
		margin-bottom:0;
		border-bottom:$color-accent 0.2rem solid;

		font-size:1.8rem;
		color:$color-high;
	}
	p {
		margin:0.4rem 0 1rem;

		a {
			text-decoration:underline;
		}
		a:hover {
			color:$color-high;
		}
		sup {
			color:$color-accent;
			margin-left:0.2rem;
		}
	}
}
#footer {
	grid-area:footer;
	display:inline-block;
	position:relative;
	//width:80%;
	//margin:0 10%;
	padding:0.8rem 0;
	width:100%;

	border-top:$color-accent 0.2rem solid;

	text-align:center;
	font-size:1rem;

	p {
		margin:0;
	}

	a:hover {
		color:$color-high;
	}
}
