// _general.scss
// Colors
//$color-dark:#111111;
//$color-light:#cccccc;
//$color-high:#00ccff;

//$black:#111111;
//$white:#eeeeee;
//$yellow:#ffcc00;
//$red:#cc0000;

//$content-back:#eeeeee;
//$content-plain:#444444;
//$content-plain:#141A1B;
//$content-hl:#2EB398;
//$content-hl-plain:#000000;

$color-dark:#141A1B;
$color-light:#EEEEEE;
$color-high:#2EB398;

/* Prevent Firefox selected button/link outline */
:focus {outline:none;}
::-moz-focus-inner {border:0;}
/* Prevent iOS input styling */
input.text, input[type="text"], input[type="button"], input[type="submit"], .input-checkbox {
	-webkit-appearance: none;
	border-radius: 0;
}
:root {
    font-size:1vh;
}
body {
	margin:0;
	padding:0;
	font-family:DejaVu_Sans_Mono, Monospace;
	min-height:100vh;

	background-color:$color-dark;
	color:$color-light;
	font-size:2rem;

	display:grid;
	grid-template-areas:
		"header"
		"navbar"
		"content"
		"footer";
	grid-gap:0;
	grid-template-columns:100%;
	grid-template-rows:min-content min-content auto min-content;

	background-image:url("/files/img/background_blur.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

	-ms-overflow-style: none;
}
body::-webkit-scrollbar {
	display: none;
}
a { color:inherit; text-decoration:none; }
table { border-collapse: collapse; }

/* Header */
.std-header {
	grid-area:header;
	display:inline-block;
	position:relative;
	top:0rem;
	z-index:5;

	width:90%;
	padding:0.8rem 5% 0.4rem;
	background:$color-dark;
	color:$color-light;

	h1 {
		display:inline;
		padding:0.5rem 0rem 0.5rem 1.5rem;

		color:$color-high;
		font-weight:bold;
		font-size:4rem;
		line-height:5rem;
		font-weight:normal;

		//&:hover { color:$color-high; }
		&:hover { color:$color-light; }
	}

	.navlinks {
		position:relative;
		float:right;

		padding:1.5rem 1rem;
		text-align:right;

		a {
			padding:1rem 2rem 0.5rem;
			font-size:2.5rem;
			line-height:2.5rem;
			&:hover { color:$color-high; }
		}
	}
}

/* Content */
#content {
	grid-area:content;
	position:relative;
	display:block;
	z-index:1;
	overflow:hidden;

	h1, h2, h3, h4, h5, h6, td {
		//font-weight:normal;

		a:hover {
			color:$color-high;
		}
	}
	p {
		margin:0;
		
		a {
			//color:$content-plain;
			text-decoration:underline;
			//$content-hl-plain;

			&:hover {
				color:$color-high;
			}
		}
	}
	h1 {
		font-size:4rem;
		text-align:center;
		margin:0 0 1rem;
		color:$color-high;
		
		/*
		&::after, &::before {
			content:"";
			display:inline-block;
			//border:$bright1 solid 0;
			//border-width:0.5rem 0;
			height:0.5rem;
			background:$bright1;
			width:100%;
			
		}
		&::before {
			float:left;
		}
		&::after {
			float:right;
		}*/
	}
	h2 {
		font-size:3.5rem;
		text-align:center;
		margin:1em 0 1rem;
	}
	h3 {
		font-size:3.5rem;
		margin:1em 0 0;
	}
	h4 {
		font-size:3rem;
		text-align:center;
		margin:1em 0 0.5rem;
	}
	h5 {
		font-size:3rem;
		margin:1em 0 0;
	}
	h6 {
		font-size:2.5rem;
		margin:1em 0 0;
	}
	ul {
		margin:0.5rem;
	}
	hr {
		border-width: 0.2rem;
		border-color:$color-light;
	}
	table.two-columns {
		width:100%;
	}
	table.two-columns td:nth-child(2) {
		text-align: right;
	}
	img {
		width:80%;
		margin:0 10%;
		border-radius:1rem;
	}
}
.std-content {
	width:calc(100% - 12rem);
	max-width:80rem;
	padding:3rem 4rem 4rem;
	margin:auto;
	margin-top:2.2rem;
	margin-bottom:2rem;
	border-radius:2rem;

	background:$color-dark;
	color:$color-light;
}

/* Footer */
#footer {
	grid-area:footer;
	display:block;
	z-index:2;

	width:100%;
	height:2rem;
	padding:1rem 0 1.5rem;

	text-align:center;

	color:$color-light;

	p {
		margin:0;
	}
}
.std-footer {
	padding:1rem 0 1rem;
	line-height:1.5rem;
	font-size:1.5rem;
	padding:1rem 0 1.5rem;
}
