$back:#EEEEEE;
$plain:#141A1B;
$hl:#2EB398;

#generator_box {
	outline: 0.5rem solid $plain;
	width:90%;
	height:58vh;
	padding:1rem 5%;
}
#stat_box {
	border-bottom:0.5vh solid $plain;
	text-align:center;
}
.stat {
	display:inline-block;
	position:relative;
	font-size:4vh;
	margin:0;
	text-align:center;
}
#button_top {
	text-align:center;
	font-size:2.5vh;
}
.type_button {
	display:inline-block;
	font-size:2vh;
	outline:0.5vh solid $plain;
	margin:2vh 5%;
	text-align:center;
	background:$plain;
	color:$back;
}
.type_button:hover {
	background:$back;
	color:$plain;
}
.type_button:hover {
	background:$plain;
	color:$back;
}
#d6_button, #point_button {
	float:right;
}
#points_display {
	width:100%;
	height:4vh;
	text-align:center;
	font-size:2vh;
}
select {
	/*outline:0.5rem solid $plain;*/
	background:$back;
	color:$plain;
	height:3vh;
	font-size:2vh;
}
.pstat {
	display:inline-block;
}
.pstat p {
	margin:0;
}
/* Height >= Width */
@media (max-aspect-ratio: 1/1), (aspect-ratio: 1/1) {
	#stat_box {
		width:80%;
		height:28vh;
		padding:0 10%;
	}
	.stat {
		height:4vh;
		padding:4vh 0 6vh;
		width:30%;
	}
	#stat2, #stat5 {
		float:center;
	}
	#stat3, #stat6 {
		float:right;
	}
	#button_box {
		width:100%;
		height:27vh;
	}
	.type_button {
		width:38%;
		height:3vh;
		padding:1.5vh 0;
		outline:0.5vh solid $plain;
		margin:2vh 5%;
	}
	.pstat {
		display:inline-block;
		width:23%;
		margin:2vh 4% 4vh;
	}
}
/* Height < Width */
@media (min-aspect-ratio: 1/1) {
	#stat_box {
		width:80%;
		height:23vh;
		padding:0 10%;
	}
	.stat {
		height:4vh;
		padding:9vh 0 9vh;
		width:15.5%;
	}
	#stat6 {
		direction:rtl;
		float:right;
	}
	#button_box {
		width:100%;
		height:32vh;
	}
	.type_button {
		width:28%;
		height:3vh;
		padding:1.5vh 0;
		outline:0.5vh solid $plain;
		margin:3vh 10%;
	}
	.pstat {
		width:11.4%;
		margin:2vh 2% 13vh;
	}
}
