@import url("/files/font/DejaVu_Font.css");
:root {
  font-size: 1vh;
}

/* Prevent Firefox selected button/link outline */
:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

/* Prevent iOS input styling */
input.text, input[type=text], input[type=button], input[type=submit], .input-checkbox {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  background: #141a1b;
  color: #eeeeee;
  font-family: DejaVu_Sans_Mono, monospace;
  font-size: 2rem;
  max-width: 85%;
  margin: auto;
  padding: 4rem 0;
}

p {
  font-size: 2rem;
}

a {
  color: inherit;
}

a:hover {
  color: #2eb398;
}

h1 {
  font-size: 5rem;
  margin-top: 0;
  color: #2eb398;
  text-align: center;
}

h2 {
  font-size: 4rem;
  color: #2eb398;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3rem;
  display: inline;
}

h5 {
  font-size: 2.5rem;
}

h6 {
  font-size: 2.5rem;
  display: inline;
}

ul {
  margin: 0;
  list-style-type: none;
}

/* Form */
form {
  font-size: 2rem;
}
form input[type=text], form input[type=password], form textarea {
  display: inline-block;
  border-radius: 0;
  border: 0.2rem #eeeeee solid;
  width: 50rem;
  max-width: 100%;
  line-height: 3.5rem;
  font-size: 2rem !important;
  font-family: Roboto Mono, monospace;
  background: #141a1b;
  color: #eeeeee !important;
}
form input[type=text], form input[type=password] {
  height: 3.5rem;
}
form textarea {
  min-height: 35rem;
  padding: 0.5rem 1rem 1rem;
  overflow-y: hidden;
}
form input[type=submit] {
  display: inline-block;
  border-radius: 0;
  border: 0.2em #eeeeee solid;
  width: 35rem;
  max-width: 100%;
  height: 4rem;
  line-height: 3.5rem;
  font-size: 2rem;
  font-family: Roboto Mono, monospace;
  background: #141a1b;
  color: #eeeeee;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none;
}
form input[type=submit]:hover {
  color: #2eb398;
}
form input[type=submit]:active {
  background: #2eb398;
  color: #141a1b;
}

.wide {
  text-align: center;
}
.wide textarea {
  width: 100%;
}

/* Table */
/*
table {
	text-align:center;
	margin:auto;
	border-collapse: collapse;
	font-size:2rem;
}
th {
	font-weight:bold;
	background-color:$green;
	color:$black;
	border:2px solid $white;
	padding:0 1em;
}
td {
	border:2px solid $white;
	padding:0 1em;
}
tr:hover {
	background-color:#555555;
}
*/
.error {
  color: #db5b5b;
}

.highlight {
  color: #2eb398;
}

table.fin {
  width: 100vw;
  padding: 0;
  margin: 0;
  border: 0;
  margin-left: calc(50% - 50vw);
  border-collapse: collapse;
  text-align: center;
  font-size: 1.8rem;
  /*
  .bold td {
  	border-bottom-width:4px;
  	border-top-width:4px;
  } // */
}
table.fin col {
  padding: 0;
  margin: 0;
  border: 0;
}
table.fin tbody {
  display: block;
  margin: auto;
  width: 121rem;
  max-width: 99.5vw;
  padding: 0;
  border: 0;
}
table.fin tr {
  background: #eeeeee;
  padding: 0;
  margin: 0;
  border: 0;
}
table.fin th {
  border-color: #141a1b;
  background: #141a1b;
  color: #eeeeee;
  padding: 0 0.35rem;
  margin: 0;
  border: 0;
}
table.fin td {
  border-color: #141a1b;
  color: #141a1b;
  width: 15rem;
  padding: 0 0.35rem;
  margin: 0;
  border: 0.15rem solid #141a1b;
}
table.fin td.pos {
  background: #2eb398;
  background-color: rgba(46, 179, 152, 0.5);
}
table.fin td.neg {
  background: #db5b5b;
  background-color: rgba(219, 91, 91, 0.5);
}
table.fin td a {
  display: inline-block;
  padding: 0;
  width: 100%;
  margin: 0;
  text-decoration: none;
}
table.fin td a:hover {
  color: inherit;
}
table.fin .bold {
  font-weight: bold;
  background: #bcbcbc;
}
table.fin .thick-left {
  border-left: 0.4rem solid #141a1b;
}
table.fin .thick-right {
  border-right: 0.4rem solid #141a1b;
}
table.fin tr.thick-top td {
  border-top: 0.4rem solid #141a1b;
}
table.fin tr.thick-bottom td {
  border-bottom: 0.4rem solid #141a1b;
}
table.fin .main_col {
  width: 15rem;
}
table.fin .wide_col {
  width: 51rem;
}
table.fin .showable {
  display: none;
}
table.fin .left-align {
  text-align: left;
}

@media (max-aspect-ratio: 1/1) {
  /* Height > Width */
  table.fin tbody {
    width: 68rem;
  }
  table.fin .hideable {
    display: none;
  }
  table.fin .showable {
    display: table-cell;
  }
}
