// Backend Pages CSS
$black:#141a1b;
$white:#eeeeee;
$green:#2eb398;
$red:#db5b5b;

@import url('/files/font/DejaVu_Font.css');
// Prevent Firefox selected button/link outline
:focus {outline:none;}
::-moz-focus-inner {border:0;}
// Prevent iOS input styling
input.text, input[type="text"], input[type="button"], input[type="submit"], .input-checkbox {
	-webkit-appearance: none;
	border-radius: 0;
}

body {
	background:$black;
	color:$white;
	font-family:DejaVu_Sans_Mono, Courier, Monospace;
	font-size:1.2rem;
	word-wrap:break-word;
	width:60rem;
	max-width:90vw;
	margin:auto;
	padding:2rem 0;
}
a { color:inherit; }
a:hover { color:$green; }
h1 {
	font-size:2.50rem;
	margin-top:1rem;
	color:$green;
	text-align:center;
}
h2 {
	font-size:2rem;
	color:$green;
}
h3 {
	font-size:1.8rem;
}
h4 {
	font-size:1.8rem;
	display:inline;
}
h5 {
	font-size:1.5rem;
}
h6 {
	font-size:1.5rem;
	display:inline;
}
ul {
	margin:0;
	list-style-type:none;
}
/* Form */
form {
	font-size:1.2rem;
	
	input[type=text], input[type=password], input[type=number], textarea {
		display:inline-block;
		border-radius:0;
		border:0.2rem $white solid;
		width:30rem;
		max-width:100%;
		line-height:1.5rem;
		font-size:1.2rem !important;
		background:$black;
		color:$white !important;
		padding:0.2rem;
	}
	
	input[type=text], input[type=password], input[type=number]  {
		height:1.1em;
	}
	input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	input[type=number] {
		-moz-appearance:textfield;
	}

	textarea {
		min-height:25rem;
		padding:1rem 1rem 1rem;
		overflow-y:hidden;
	}

	input[type=submit] {
		display:inline-block;
		border-radius:0;
		border:0.2em $white solid;
		width:20rem;
		max-width:100%;
		height:2.5rem;
		line-height:1.5rem;
		font-size:1.2rem;
		background:$black;
		color:$white;
		-moz-appearance:none !important;
		-webkit-appearance:none !important;
		appearance:none;
	}
	input[type=submit]:hover {
		color:$green;
	}
	input[type=submit]:active {
		background:$green;
		color:$black;
	}
}
select {
	display:inline-block;
	border-radius:0;
	border:0.2rem $white solid;
	width:20rem;
	max-width:100%;
	line-height:3.5rem;
	font-size:1.2rem !important;
	padding:0.2rem;
	background:$black;
	color:$white !important;
}

// Utility Classes
.wide {
	text-align: center;

	textarea {
		width:100%;
		max-width:calc(85vw - 2.5rem);
	}
}
.error {
	color:$red !important;
}
.highlight {
	color:$green;
}
.centered {
	text-align:center;
}
