@import url('/files/font/DejaVu_Font.css');
body {
	background:#141a1b;
	color:#eeeeee;
	font-family:DejaVu_Sans_Mono, Courier, Monospace;
	max-width:85vw;
	margin:auto;
	padding:1rem 0;
}
h1 {
	font-size:2rem;
	color:#db5b5b;
	margin-bottom:-1rem;
}
b {
	font-size:1.2rem;
	font-weight:normal;
	color:#2eb398;
}
a {color:inherit}
a:hover {color:#2eb398}
