@import url('/files/font/DejaVu_Font.css');
body {
	background:#141a1b;
	color:#eeeeee;
	font-family:Roboto Mono, monospace;
	font-size:2vh;
	max-width:85vw;
	margin:auto;
	padding:4vh 0; 
}
h1 {
	font-size:5vh;
	color:#db5b5b;
	margin-bottom:-1vh;
}
h2 {
	font-size:3vh;
}
h3 {
	font-size:2vh;
	color:#2eb398;
}
p {font-size:2vh;}
a {	color:inherit; }
a:hover { color:#2eb398; }
