$black:#141a1b;
$white:#eeeeee;
$green:#2eb398;
$red:#db5b5b;
$green-trans:rgba(46, 179, 152, 0.5);
$red-trans:rgba(219, 91, 91, 0.5);

/* Finance Spreadsheet CSS */
@import url('/files/font/DejaVu_Font.css');
//:root {
	//font-size:1.5vh;
//}
/* Prevent Firefox selected button/link outline */
:focus {outline:none;}
::-moz-focus-inner {border:0;}
/* Prevent iOS input styling */
input.text, input[type="text"], input[type="button"], input[type="submit"], .input-checkbox {
	-webkit-appearance: none;
	border-radius: 0;
}

body {
	background:$black;
	color:$white;
	font-family:DejaVu_Sans_Mono, Courier, monospace;
	font-size:0.9rem;
	max-width:85%;
	margin:auto;
	padding:1rem 0;
}
p { font-size:0.9rem; }
a { color:inherit; }
a:hover { color:$green; }
h1 {
	font-size:2.4rem;
	margin-top:0;
	color:$green;
	text-align:center;
}
h2 {
	font-size:1.8rem;
}

.error {
	color:$red !important;
}
.highlight {
	color:$green;
}
.centered {
	text-align:center;
}

/* Form */
form {
	font-size:0.9rem;
	
	input[type=text], input[type=password], input[type=number] {
		display:inline-block;
		border-radius:0;
		border:0.2rem $white solid;
		width:50rem;
		max-width:100%;
		line-height:3.5rem;
		font-size:0.9rem !important;
		background:$black;
		color:$white !important;
		padding:0.3rem;
		height:1.1em;
	}
	input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	input[type=number] {
		-moz-appearance:textfield;
	}

	input[type=submit] {
		display:inline-block;
		border-radius:0;
		border:0.2em $white solid;
		width:20rem;
		max-width:100%;
		height:2.5rem;
		line-height:1rem;
		font-size:0.9rem;
		background:$black;
		color:$white;
		-moz-appearance:none !important;
		-webkit-appearance:none !important;
		appearance:none;
	}
	input[type=submit]:hover {
		color:$green;
	}
	input[type=submit]:active {
		background:$green;
		color:$black;
	}
}
select {
	display:inline-block;
	border-radius:0;
	border:0.2rem $white solid;
	width:20rem;
	max-width:100%;
	line-height:3.5rem;
	font-size:0.9rem !important;
	padding:0.2rem;
	background:$black;
	color:$white !important;
}

/* Table */
table {
	width:99.5vw;
	padding:0;
	margin:0;
	border:0;
	margin-left:calc(50% - 50vw);
	border-collapse: collapse;
	text-align:center;
	font-size:0.9rem;
	
	col {
		padding:0;
		margin:0;
		border:0;
	}

	tbody {
		display:block;
		margin:auto;
		width:69rem;
		max-width:99vw;
		padding:0;
		border:0;
	}

	tr {
		background:$white;
		padding:0;
		margin:0;
		border:0;
	}
	th {
		border-color:$black;
		background:$black;
		color:$white;
		padding:0 0.2rem;
		margin:0;
		border:0;
	}
	td {
		border-color:$black;
		color:$black;
		width:9rem;
		padding:0 0.2rem;
		margin:0;
		border:0.15rem solid $black;
	}
	td.pos {
		background:$green;
		background-color:rgba(46, 179, 152, 0.5);
	}
	td.neg {
		background:$red;
		background-color:rgba(219, 91, 91, 0.5);
	}
	//tr:hover {
		//background-color:#bcbcbc;
	//}
	td a {
		display:inline-block;
		padding:0;
		width:100%;
		margin:0;
		text-decoration:none;
	}
	td a:hover {
		color:inherit;
	}

	.bold {
		font-weight:bold;
		background:#bcbcbc;
	}
	.thick-left {
		border-left:0.2rem solid $black;
	}
	.thick-right {
		border-right:0.2rem solid $black;
	}
	tr.thick-top td {
		border-top:0.2rem solid $black;
	}
	tr.thick-bottom td {
		border-bottom:0.2rem solid $black;
	}
	.showable {
		display:none;
	}
	.left-align {
		text-align:left;
	}
}

/* Conditional */
@media (max-aspect-ratio: 1/1) { /* Height > Width */
	table {
		tbody {
			width:42rem;
		}
		.hideable {
			display:none;
		}
		.showable {
			display:table-cell;
		}
	}
	.hideable {
		display:none;
	}
}
@media (min-aspect-ratio: 1/1) { /* Height < Width */
	.showable {
		display:none;
	}
}
