@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
/* Prevent Firefox selected button/link outline */
:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

/* Prevent iOS input styling */
input.text, input[type=text], input[type=button], input[type=submit], .input-checkbox {
  -webkit-appearance: none;
  border-radius: 0;
}

:root {
  font-size: 1vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto Mono, monospace;
  min-height: 100vh;
  background: #111111;
  color: #cccccc;
  font-size: 2rem;
  display: grid;
  grid-template-areas: "header" "content" "footer";
  grid-gap: 0;
  grid-template-columns: 100%;
  grid-template-rows: min-content auto min-content;
}

a {
  color: inherit;
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

/* Header */
#header {
  grid-area: header;
  display: inline-block;
  position: fixed;
  padding: 1rem;
  background: #111111;
  z-index: 5;
  width: 100%;
}
#header h1 {
  color: #00ccff;
  display: inline;
  font-size: 5rem;
  line-height: 5rem;
}
#header h1:hover {
  color: #ffffff;
}
#header #navbar {
  display: inline-block;
  position: relative;
  padding: 1rem;
  text-align: right;
}
#header #navbar a {
  font-size: 3rem;
  line-height: 3rem;
  padding: 1rem;
}
#header #navbar a:hover {
  color: #00ccff;
}

/* Content */
#content {
  grid-area: content;
  position: relative;
  display: block;
  width: 80%;
  padding: 2rem 10%;
  z-index: 1;
  margin-top: 8rem;
}

/* Footer */
#footer {
  grid-area: footer;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  height: 2rem;
  padding: 0.5rem 0;
  z-index: 2;
}

@media (max-aspect-ratio: 1/1) {
  /* Height > Width */
}
@media (min-aspect-ratio: 1/1) {
  /* Height < Width */
}
