@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
/* Prevent Firefox selected button/link outline */
:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

/* Prevent iOS input styling */
input.text, input[type=text], input[type=button], input[type=submit], .input-checkbox {
  -webkit-appearance: none;
  border-radius: 0;
}

:root {
  font-size: 1vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto Mono, monospace;
  min-height: 100vh;
  background: #111111;
  color: #cccccc;
  font-size: 1rem;
  display: grid;
  grid-template-areas: "header" "content" "footer";
  grid-gap: 0;
  grid-template-columns: 100%;
  grid-template-rows: min-content auto min-content;
}

a {
  color: inherit;
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

/* Header */
#header {
  grid-area: header;
}

/* Content */
#content {
  grid-area: content;
  position: relative;
  display: block;
  width: 80%;
  padding: 2rem 10%;
}

/* Footer */
#footer {
  grid-area: footer;
  display: block;
  width: 100%;
}

@media (max-aspect-ratio: 1/1) {
  /* Height > Width */
}
@media (min-aspect-ratio: 1/1) {
  /* Height < Width */
}
