body {
	padding:0;
	margin:0;
	font-family:monospace;
	font-size:1.2rem;
	background:lightgrey;
	color:black;
}

a {
	text-decoration:none;
	color:lightgrey;
}
a:hover { color:white; }
#back {
	z-index:2;
	position:fixed;
	top:0.8rem;
	left:1.5rem;
}
#clear {
	z-index:2;
	position:fixed;
	top:0.8rem;
	right:1.5rem;
}

#header {
	z-index:1;
	position:fixed;
	width:100vw;
	padding-bottom:0.8rem;
	text-align:center;
	background-color:black;
	color:white;
}
#header h1 {
	margin:1rem 0 0.5rem;
	font-size:2rem;
	font-weight:normal;
}
#header i {
	line-height:1.5rem;
	font-size:1.2rem;
}

#main {
	position:relative;
	width:96%;
	padding:7rem 2% 0.5rem;
	min-height:calc(60vh - 8rem);
	background:white;
}

#bottom {
	position:relative;
	top:0;
	border-top:.3rem black solid;
	width:96%;
	padding:0.5rem 2% 0;
	min-height:calc(40vh - 1rem);
	background:lightgrey;
}
