@import url('https://rsms.me/inter/inter.css');
body {
	left:0;
	top:0;
	margin:0;
	padding:0;
	background:black;
	font-family: 'Inter', sans-serif;
	color:white;
}
a {
	color:inherit;
}
table {
	margin: 0 4px;
	margin:auto;
	border-collapse:collapse;
	text-align:center;
}
th {
	text-align:center;
	font-weight:bold;
	font-size:3.2rem;
	line-height:3.2rem;
	top:0;
	margin-top:0.6rem;
	margin-bottom:1rem;
	width:100%;
	padding:1rem 0;
}
td {
	padding: 2px;
}

#key p {
	margin:0 auto 0;
	font-size:0.9rem;
	padding:0.1rem 0;
	text-align:center;
	width:9rem;
}

#big p {
	display:block;
	height:10rem;
	width:12rem;
	padding:1.1rem;
	margin:auto;
	vertical-align:center;
	text-align:center;
	background-color:white;
	color:black;
}
#a_num {
	font-size:1.5rem;
	line-height:1.5rem;
}
#a_sym {
	font-weight:bold;
	font-size:3.4rem;
	line-height:3.8rem;
}
#a_name {
	font-size:1.5rem;
	line-height:1.8rem;
}
#a_m {
	font-size:1.1rem;
	line-height:1.1rem;
}

#details {
	vertical-align:top;
	text-align:left;
}

.std_block{
	width:5vw;
	height:8vh;
	border:1px solid white;
	text-align:center;
	line-height:0.8rem;
}
b {
	font-size:1.5rem;
	line-height:1.5rem;
}
i {
	font-size:0.8rem;
	line-height:0.8rem;
}

.num_left {
	font-size:1.2rem;
	padding: 0 8px;
	border:solid white;
	border-width: 1px 0;
}
.num_top {
	text-align:center;
	font-size:1.2rem;
	border:solid white;
	border-width: 0 1px 1px;
}
.num_hl {
	color:black !important;
	background:#cccccc !important;
}
.series {
	font-weight:bold;
	text-align:right;
	padding-right:0.5vw;
}
.outline {outline:5px solid white;}
.nonmetal {background-color:#002282}
.noble {background-color:#b09d00}
.alkali {background-color:#770019}
.alkaline {background-color:#007768}
.metaloid {background-color:#414872}
.halogen {background-color:#026100}
.metal {background-color:#3a3a3a}
.transmetal {background-color:#945b00}
.lanthanide {background-color:#440098}
.actinide {background-color:#9500a2}
