@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
body { font-family: Roboto Mono, monospace; background:black; }
h1 { font-size:3vh; width:100%; text-align:center; font-weight:normal; }
p { font-size:3vh; width:100%; margin-bottom:1vh; }
a { color:inherit; text-decoration:none; }
a:hover { text-decoration:none; }
#table { 
	width:100%; 
	margin:0; 
	margin-top:1.5vh; 
}
th { 
	font-size:3vh; 
	text-align:center; 
	width: 50%; 
}
#draw {
	background:white;
	display:inline-block;
	position:fixed;
	top:0;
	left:0;
	height:100vh;
	width:100vh;
}
#display {
	display:inline-block;
	position:fixed;
	bottom:0;
	right:0;
	height:100vh;
	width:calc(100vw - 110vh);
	padding:5vh;
	padding-top:0;
	padding-bottom:0;

	color:white;
	background:black;
}
#title {
	font-size:4vh; 
	text-align:center;
	margin-bottom:1vh;
}
#hide_vars {
	display:none;
}
.button {
	display:inline-block;
	background:white;
	color:black;
	width:40%;
	height:3vh; 
	padding:0.5vh;
}
#spacer { display:inline-block; }
#explination {
	display:none;
	margin-top:6vh;
	font-size:2vh;
}
#proof {
	margin-top:15px;
	margin-bottom:15px;
	height:100px;
	max-width:100%;
}